.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
  }