ormulario-bts{
    margin: 15px auto; 
    width: 80%;
    padding: 10px;
    background-color: blue;
    border-radius: 30px;
    color: aliceblue;
    .formulario-bts-info{
        text-align: center;
        font-size: 25px;
    }
}


