header-info{
    color: beige;
    justify-content: center;
    align-items: center;
    .fondo_header{
        background-image: url(../imagenes/header.jpg);
        background-size: cover;
        color: aliceblue;
     }
     .header-info-titulo{
        font-size: 100px;
    }
    .header-info-subtitulo{
    font-size: 40px;
}
}




