.contenedor-login{
    margin: 20px auto;
    background-color: blue;
    width: 50%px;
    height: auto;
    border: 2px solid blanchedalmond;
    color: aliceblue;
    border-radius: 10px;
    display: block; 
    justify-content: center;
    align-content: center;
  
}