.navbar {
    padding: 10px;
    background-color: rgb(18, 10, 231);
    .nav-link {
        color: aliceblue;
      }
    .nav-item {
        color: blue;
      }
   
    nav.toggler {
        color: rgb(3, 117, 216);
      }
    @media screen and (max-width: 767px) {
        .navbar .navbar-brand {
        display: none;
      }
      }

  }