.contenedor-vender{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(114, 182, 241);
    width: 85%;
    height: auto;
    border-radius: 8px;
    border: 1px solid blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .contenedor-vender h3{
        text-align: center;
    }
    .contenedor-vender h5{
        text-align: center;
    }
    }

